<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>wirecardceecheckoutpage</name>
            <displayName><![CDATA[Wirecard Checkout Page]]></displayName>
            <version>2.1.4</version>
            <description><![CDATA[Wirecard Checkout Page payment module]]></description>
            <author>Wirecard</author>
            <tab><![CDATA[payments_gateways]]></tab>
            <confirmUninstall>Are you sure you want to delete these details?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
        </module>