
p.payment_module a.pt_wirecard:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

a.pt_checkoutpage {
    background: url(../img/payment_types/checkoutpage.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_ccard {
    background: url(../img/payment_types/ccard.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_ccard-moto {
    background: url(../img/payment_types/ccard-moto.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_maestro {
    background: url(../img/payment_types/maestro.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_eps {
    background: url(../img/payment_types/eps.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_idl {
    background: url(../img/payment_types/idl.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_giropay {
    background: url(../img/payment_types/giropay.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_tatrapay {
    background: url(../img/payment_types/tatrapay.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_sofortueberweisung {
    background: url(../img/payment_types/sofortueberweisung.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_pbx {
    background: url(../img/payment_types/pbx.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_psc {
    background: url(../img/payment_types/psc.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_quick {
    background: url(../img/payment_types/quick.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_paypal {
    background: url(../img/payment_types/paypal.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_epay_bg {
    background: url(../img/payment_types/epay-bg.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_sepa-dd {
    background: url(../img/payment_types/sepa-dd.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_trustpay {
    background: url(../img/payment_types/trustpay.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_invoice {
    background: url(../img/payment_types/invoice.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_installment {
    background: url(../img/payment_types/installment.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_bancontact_mistercash {
    background: url(../img/payment_types/bancontact_mistercash.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_przelewy24 {
    background: url(../img/payment_types/przelewy24.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_moneta {
    background: url(../img/payment_types/moneta.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_poli {
    background: url(../img/payment_types/poli.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_ekonto {
    background: url(../img/payment_types/ekonto.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_trustly {
    background: url(../img/payment_types/trustly.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_mpass {
    background: url(../img/payment_types/mpass.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_skrilldirect {
    background: url(../img/payment_types/skrilldirect.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_skrillwallet {
    background: url(../img/payment_types/skrillwallet.png) 15px 15px no-repeat #fbfbfb;
}

a.pt_voucher {
    background: url(../img/payment_types/voucher.png) 15px 15px no-repeat #fbfbfb;
}
